{%extends 'base.html'%}

{%block content%}
<div class="center col-1 my-12">
    <form method="post" novaldiate class="row g-3 needs-validation">
        {% csrf_token %}
        <h2 class="text-center">Registre um Tarefa de Scrapping</h2>
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <small class="error">{{ field.errors|striptags }}</small>
        {% endif %}
        {% endfor %}

        <input type="submit" value="Register" class="btn btn-primary full-width">
        <hr>
    </form>


    {% if token_salvo and id_salvo %}
    <p>Dados Salvos:</p>
    <p>ID: {{ id_salvo }} - Token: {{ token_salvo }}</p>
    {% endif %}
</div>
{%endblock content%}