{% extends 'app/layout/base_admin.html' %}
<!-- Block title -->
{% block title %} SecEdu IA {% endblock %}



<!-- Page content -->
{% block content %}

<section class="section dashboard">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Alunos</h5>
                    <div class="table-responsive">
                        <!-- Table with stripped rows -->
                        <table id="dataAlunos" class="display table datatable">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 5%;"> Ações </th>
                                    <th scope="col"> Nome </th>
                                    <th scope="col"> Turma </th>
                                    <th scope="col"> R. Aluno </th>
                                    <th scope="col"> Período </th>
                                    <th scope="col"> Género </th>
                                    <th scope="col"> Atualizado em </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aluno in alunos %}
                                <tr>
                                    <th scope="row">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <a href="#" class="btn btn-primary btn-sm">
                                                    <i class="bi bi-calendar2-check"></i>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <a href="#" class="btn btn-danger btn-sm">
                                                    <i class="bi bi-exclamation-octagon"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </th>
                                    <td>{{aluno.nome}}</td>
                                    <td>{{aluno.turma}}</td>
                                    <td>{{aluno.matricula}}</td>
                                    <td>{{aluno.periodo}}</td>
                                    <td>{{aluno.genero}}</td>
                                    <td>{{aluno.data_atualizacao}}</td>
                                </tr>
                                {% endfor %}
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>

        </div>

    </div><!-- Row 1-->
</section>

{% endblock content %}<!-- End Page Content -->