<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links úteis</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#home">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#sobre">Sobre nós</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Termos do serviço</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Política de privacidade</a></li>
                    </ul>
                </div>


                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>A nossa newsletter</h4>
                    <p>Informer sobre uso de tecnologias voltadas para o ensino</p>
                    <!--
                        <form action="" method="post">
                            <input aria-label="email" type="email" name="email"><input type="submit" value="Inscrever-se">
                        </form>
                    -->

                </div>

            </div>
        </div>
    </div><!-- Footer Top -->

    <div class="container">
        <div class="copyright">
            &copy; {% now "Y" %} Copyright . Todos os direitos reservados:
            <strong>
                <span>
                    {% block footer %}
                    secedu.com.br
                    {% endblock %}
                </span>
            </strong>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>